<div class="card d-flex flex-column gap-3 align-items-center h-100">
  <div class="text-center">name: <%= link_to character.name, show_character_path(character), data: {turbo_stream: true} %></div>
  <div class="d-flex justify-content-center">
    <%= image_tag character.image, size: 130, class: "rounded" if character.image.present?%>
  </div>  
  <div>
    chapter: <%= character.chapter %>
  </div>
</div>