<%= turbo_stream.update "characters_frame" do %>
  <%= turbo_frame_tag "characters_frame" do %>
    <div class="container">
      <h2 class="text-primary mb-3 text-center">
        Edit character
      </h2>
      <%= render partial: "form", locals: {character: @character} %>
    </div>
  <%end%>
<%end%>

<%= turbo_stream.replace "notice", partial: "shared/flash"%>