<%= turbo_stream.update "stands_frame" do %>
  <%= turbo_frame_tag "stands_frame" do %>
    <div class="container mt-5">
      <h1 class="text-primary">Edit stand</h1>
      <%= render "form", stand: @stand %>
    </div>
  <% end %>
<%end%>

<%= turbo_stream.replace "notice", partial: "shared/flash"%>