<%= turbo_frame_tag "characters_frame" do %>
  <div class="p-3 container mt-5">
    <div class="d-flex gap-3 align-items-center justify-content-around">
      <h1 class="text-primary">Characters</h1>
      <%= link_to "New character", new_character_path, class: "btn btn-primary"%>
    </div>

    <div class="row mt-5">
      <% @characters.each do |character|%>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
        <%= render partial: "character", locals: {character: character}%>
      </div>
      <%end%>
    </div>
  </div>
<% end %>